/*header*/
.game-header {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 20px;
    margin: 0px 20px 20px 20px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/*futuristic font*/
.game-header h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    margin: 0;
}

/*description*/
.game-header p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    margin: 10px 0;
}
